.dnd-box {
  display: inline-block;
  padding: 2px 4px;
  border: 3px dotted blue;
  margin: 5px 5px 5px 5px;
}

.dnd-container {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  padding: 5px;
}
